body {
    background-image: url(https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
    background-repeat: repeat; 
    background-size: contain; 
    color:white; 
    font-size:20px;}

h1 {
    overflow:visible;
    width: 75%; height: 70%;
    border-bottom: 10px solid orangered;
     background-color:black;
      color: #ffffff;
       text-align: center; 
       margin: 0 auto; 
       font-size: 4rem; 
       font-family: 'Lacquer', cursive;}

main {
    background-color:  rgba(46, 40, 51, 60%); 
    width: 75%; 
    margin: 0 auto; 
    font-size:1.5rem; 
    font-family: 'Lacquer', cursive;}

a {
    color:orange}

img {width: 90%; height: auto;
    border: 10px solid orangered; 
    background-color:black; 
    color: #ffffff; 
    border-radius: 60px 60px;}

    ul {
        border: 10px solid orangered; 
        background-color:black; 
        color: #ffffff; 
        text-align: left; 
        padding: 40px;}

ol {
    border: 10px solid orangered; 
    background-color:black; 
    color: #ffffff; 
    text-align: left; 
    padding: 40px;}


label {
    border: 10px solid orangered;
    background-color: black;}

l {
    border: 10px solid orangered;
    background-color: black;}

strong {
    color:rgb(138, 17, 17); 
    text-decoration: underline;}

em {
    color:lightblue}

button {
    font-family: 'Lacquer', cursive; 
    color:white;
    border: 10px solid orangered;
    background-color:black;
    margin:10px;}

input {
    font-family: 'Lacquer', cursive;
    margin: 10px}

    footer {
        border-top: 10px solid orangered; 
        background-color:black; 
        color: #ffffff; 
        text-align: center; 
        padding: 15px; 
        font-family: 'Lacquer', cursive;}